body{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
}

/*  Nav buttons */
#homepage{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
}
#homepage .button, #backbutton .button{
    padding: 16px;
}
#homepage .button:hover, #backbutton .button:hover{
    background-color: #515050;
    color: white;
}
#homepage .button:active, #backbutton .button:active{
    background-color: #1d1d1d;
    color: white;
}
#backbutton{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 1.5em;
}

/*  Background icon */
#background_icon{
    position: absolute;
    top: 24%;
    left: 26%;
    font-size: 9em;
    transform: translate(-50%, -50%);
    color: #ffffff88;
}

/*  Button to change to next level  */
#next_level{
    position: absolute;
    bottom: 87%;
    left: 52%;
    right: 13%;
    text-align: center;
}
/*  Result of the round + text  */
#round_result{
    position: absolute;
    bottom: 63%;
    left: 10%;
    right: 10%;
    padding: 10px 12px;
    text-align: center;
}
#round_result_text{
    position: absolute;
    bottom: 56%;
    left: 10%;
    right: 10%;
    padding: 10px 12px;
    text-align: center;
}


/*  Player & bot pick   */
#picks{
    position: absolute;
    bottom: 45%;
    left: 10%;
    right: 10%;
}
#players{
    position: absolute;
    bottom: 37%;
    left: 10%;
    right: 10%;
}
.player{
    position: absolute;
    bottom: 0%;
    left: 5%;
    right: 50%;
    text-align: left;
}
.bot{
    position: absolute;
    bottom: 0%;
    left: 50%;
    right: 5%;
    text-align: right;
}



/*  Player deck */
#player_deck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 12px;
    
    position: absolute;
    bottom: 18%;
    left: 10%;
    right: 10%;
}
#player_deck .button{
    background-image: linear-gradient(to bottom, rgba(102, 205, 170, 0.1), rgba(102, 205, 170, 0.3), rgba(102, 205, 170, 0.6));
}

/*  Rounds & wins counter   */
#rounds{
    position: absolute;
    bottom: 4%;
    left: 10%;
    right: 10%;
}
#rounds_left{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 70%;
    text-align: left;
}
#total_wins{
    position: absolute;
    bottom: 0%;
    left: 70%;
    right: 0%;
    text-align: right;
}


/*  Modal end game  */
#modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #2f3133c9;
    font-size: 2.3rem;
    font-weight: bold;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#modal p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 3rem;
    word-spacing: 4px;
    letter-spacing: 2px;
}
.hidden{
    display: none;
}


@media screen and (orientation: landscape) {
    #backbutton{
        left: 9%;
        font-size: 1.5em;
    }
}
  